@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.settings-opacity {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.36);
    position: absolute;
    top: 0;
    z-index: 10000;
    overflow: visible;
    display: none;
    justify-content: center;
    align-items: center;
}

.settings-menu-container {
    width: 50vw;
    background-color: whitesmoke;
    border-radius: 3px;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-header span {
    color: gray;
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.close-settings {
    font-size: 2em;
    color: gray;
    background-color: whitesmoke;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.close-settings:hover {
    color: black;
}

hr {
    height: 2px;
    background-color: gray;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 0;
}

.settings-menu-container h1 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
}

form {
    margin: 10px;
}

label {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

label span {
    font-size: .9em;
    padding-bottom: 2px;
    color: rgb(126, 10, 10);
}

.worktimeinput {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 5px;
    background-color: rgb(231, 225, 225);
    padding-left: 10px;
    font-size: 1em;
    font-weight: lighter;
    color: black;
}

.timesettings {
    display: flex;
}

.breaktxt {
    color: #00a3b1;
}

.breakinput {
    background-color: #8cdee6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1em;
    font-weight: lighter;
    color: black;
    border: 1px solid #7dd6de;
}

.submit-btn-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.submit-btn {
    padding: 10px 30px;
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: black;
}

.settings-btn {
    margin-left: 10px;
}

.errorMessage {
    display: flex;
    background-color: rgb(223, 52, 52);
    border-radius: 5px;
    margin-left: 20px;
    color: white;
}

.errorTxt {
    padding: 10px;
    font-family: 'Itim', cursive;
    font-size: 0.8em;
    display: none;
    align-items: center;
}

.errorTxt img {
    height: 15px;
    margin-right: 5px;
}