@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
    --cor01: #c44a4a;
    --cor02: #BE0202;
    --cor03: #12808b;
    --cor04: #3eafba;
    --cor05: #00a3b1;

    --font01: 'Itim', cursive;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(186, 73, 73);
    overflow: hidden;
}



header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.navbar-container {
    height: 100%;
    width: 120px;
    border-bottom: 1px solid rgba(171, 58, 58, 0.479);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bigtomato-decoration {
    position: relative;
    margin: auto;
    max-width: 600px;
    height: 100vh;
    background-color: #bf1d1d;
    background-blend-mode: darken;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(15, 15, 15); 
    border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 54, 54); 
}

.focus-text {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 5px black;
    font-family: var(--font01);
    margin-bottom: 20px;
}

.timer-container {
    background-color: rgba(125, 18, 18, 0.305);
    display: flex;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 2px 2px 10px inset rgba(0, 0, 0, 0.685);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.timer-container:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
}

.timerplace {
    width: 60%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.854);
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer {
    color: white;
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -5px;
    
}

.actual-task {
    color: white;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -10px;
}

.options {
    width: 55%;
    height: 50px;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
}

.option-break {
    color: white;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 0 0 10px;
    background-color: var(--cor03);
    width: 40%;
    cursor: pointer;
}

.option-break:hover {
    background-color: blue;
}

.option-start {
    background-color: black;
    width: 20%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.option-start img {
    width: 46px;
}

.option-reset {
    background-color: red;
    color: white;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 0;
    padding: 10px;
    width: 40%;
    cursor: pointer;
}

.option-reset:hover {
    background-color: #8F0808;
}



.open-bubble-menu {
    width: 100px;
    height: 100px;
    position: relative;
    top: -100vh;
    background-color: var(--cor02);
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.448);
    z-index: 1;
}

.test {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    top: 0px;
    border-radius: 100%;
    background-color: var(--cor02);
}

.toggle {
    z-index: -1;
    position: absolute;
}

.open-bubble-menu img {
    width: 80%;
    position: relative;
    top: 5%;
    left: 9%;
    z-index: 1;
}

.open-bubble-menu span {
    position: relative;
    left: 30%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.bubble {
    width: 50px;
    height: 50px;
    background-color: var(--cor02);
    position: relative;
    border-radius: 100%;
    border: 1px solid black;
    transition: 0.5s;
}

.settings {
    top: -50px;
    left: 10px;
}

.settings .menuicon, .tasks .menuicon {
    width: 130px;
    left: -41px;
    top: -13px;
}

.resume .menuicon {
    width: 30px;
    top: 8px;
    left: 8px;
}

.tasks {
    top: -100px;
    left: 10px;
}

.resume {
    top: -150px;
    left: 10px;
}

.open-bubble-menu.hover:hover .settings {
    top: -30px;
    left: 0px;
}

.open-bubble-menu.hover:hover .tasks {
    top: -75px;
    left: 35px;
}

.open-bubble-menu.hover:hover .resume {
    top: -152px;
    left: 60px;
}




/* JavaScript classes */

.opensettings {
    left: 92px;
    top: -29px;
}

.opentasks {
    top: -41px;
    left: 54px;
}

.openresume {
    top: -91px;
    left: -1px;
}

.checked {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.567);
    opacity: 0.4;
}